@CHARSET "UTF-8";
.toolDiv{
	width : 200px;
}
#timeMenu{
	border-radius:5px;box-shadow:0px 0px 10px #258ff2;
	color : white;
}
#timeTree{
	background-color:#87CEEB;text-align:center;margin:0px;margin-top:6px;
}
#timeTree ul {
    margin : 0px;
}
#timeTree li{
    list-style : none;
}
#timeTree span {
    display : block;
    height : 25px;
    padding-top : 5px;
    cursor : pointer;
}
#timeTree span>a{
    color : white;
}
#timeTree span>a:hover{
    color : grey;
}
