@CHARSET "UTF-8";
.toolDiv{
	width : 200px;
}
#timeMenu{
	border-radius:5px;
	color : white;
}
#timeTree{
	background-color:#87CEEB;text-align:center;margin:0px;max-height:200px;overflow:auto;
}
#timeTree ul {
    margin : 0px;
}
.levelTitle {
    height : 25px;
    background-color : #FFEFD5;
    color : #00CEEB;
    padding-top : 7px;
    text-align : center;
}
#timeTree li{
    list-style : none;
}
#timeTree span {
    display : block;
    height : 25px;
    padding-top : 5px;
    cursor : pointer;
}
#timeTree span>a{
    color : white;
}
#timeTree span>a:hover{
    color : grey;
}
#menu{
	margin-top : -5px;
}
