@CHARSET "UTF-8";

#content{
    width : 90%;
    height : 150px;
    background-color : #a3b2b5;
}

#blogContent{
	padding : 20px 0;
	color : grey;
}
#blogContent li{
	list-style:none;
}
.title_div{
	padding-bottom : 15px;
}
.menu_ul .addBlog{
	background-color : grey;
}


.input_class{
	width : 470px;
	padding : 3px;
	background-color : #FFFFFF;
	border-radius : 3px 3px 3px 3px;
	border : 1px solid #AAAAAA;
}