@CHARSET "UTF-8";
a, a:hover {
    text-decoration: none;
}
ul, ol {
    list-style: none outside none;
}
.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    width: 95%;
}
.main {
    margin: 50px 0;
    text-align: center;
    width: 100%;
}
.content {
    margin: 25px 0;
    text-align: left;
}
.content-text {
    margin: 0 0 15px;
}
.nav {
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    position: relative;
    width : 200px;
}
.nav-item {
    float: left;
    position: relative;
}
.nav-item>a,.nav-item .nav-submenu .nav-submenu-item>a{
	background-color:white;
    border-bottom: 1px solid #ddd;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
    display: block;
    height: 50px;
    padding: 15px;
    transition: all 0.2s ease-in-out 0s;
}
.nav-item > a:hover {
    background: none repeat scroll 0 0 #e5e5e5;
}
.nav-item:hover .nav-submenu {
    display: block;
}
.nav-submenu {
    display: none;
    left: 0;
    position: absolute;
    width: 180px;
}
.nav-submenu-item>a {
    background: none repeat scroll 0 0 whitesmoke;
    border-bottom: 1px solid white;
    display: block;
    padding: 15px;
}
.nav-submenu-item a:hover {
    background: none repeat scroll 0 0 #e5e5e5;
}
.nav-click {
    border-left: 1px solid #ddd;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding : 18px 10px;
}
.nav-click i {
    background: url("../img/drop.svg") no-repeat scroll center center / 20px auto rgba(0, 0, 0, 0);
    display: block;
    height: 48px;
    width: 48px;
}
.nav-rotate {
    transform: rotate(180deg);
}
.nav-mobile {
   	display: block;
}
.nav-list {
    display: block;
    padding-left:0;
    text-align: left;
    overflow:auto;
}
.nav-item {
    float: none;
    width: 100%;
}
.nav-item > a {
    padding: 15px;
}
.nav-click {
    display: block;
}
.nav-mobile-open {
    border-radius: 5px 5px 0 0;
}
.nav-item:hover .nav-submenu {
    display: none;
}
.nav-submenu {
    position: static;
    width: 100%;
    padding-left:0;
    display: none;
}
.nav-btn{
	padding : 10px 0;
	width : 100px;
	background-color:white;
	border:1px solid #ddd;
	display:block;
	float:left;
	text-align:center;
	color:#428bca;
}
.nav-item>.dropdown{
	float: right;
    margin-right: 60px;
    position: relative;
    top:-33px;
}

.nav-item ul .dropdown{
	float: right;
    margin-right: 10px;
    position: relative;
    top:-33px;
}