@CHARSET "UTF-8";

#content{
    width : 90%;
    height : 150px;
    background-color : #a3b2b5;
}

#blogContent{
	padding : 20px 0;
	color : grey;
}
#blogContent li{
	list-style:none;
}
.title_div{
	padding-bottom : 15px;
}
.menu_ul .addBlog{
	background-color : grey;
}

.input_class{
	width : 470px;
	padding : 3px;
	background-color : #FFFFFF;
	border-radius : 3px 3px 3px 3px;
	border : 1px solid #AAAAAA;
}
.linkContent{
	
}

.contentMain{
	position:relative;margin-bottom:20px;margin-right:15px;margin-left:15px;
}
.blogTitle{
	padding:15px;background-color:white;border-radius:5px 5px 0 0;
}
.blogTitle a{
	color:grey;font-size:14px;
}
.blogContent{
	padding:15px;background-color:white;border-top:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;
}
.blogBottom{
	padding:15px;background-color:#EEEEEE;border-radius:0 0 5px 5px;
}