@CHARSET "UTF-8";

.head .thistab, .head .thistab a:hover {
    background: url("//d85wutc1n854v.cloudfront.net/live/imgs/darkgrain.png") repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid transparent;
}
html {
	background: url("//d85wutc1n854v.cloudfront.net/live/imgs/darkgrain.png") repeat scroll 0 0 #EEEEEE;
}

.nav-grid{
	width : 100%;
	border : 1px solid #dae6ff;
	padding : 5px;
	min-height : 50px;
	position : relative;
}
.nav-grid>span{
	position : absolute;
}

.hide{
	display : none;
}

#nav{
	width : 50%;
}
.connectedSortable li{
	float : left;
}
.nav-panel{
	float : left;
	width : 100%;
	min-height : 20px;
}
.nav-panel li{
	float : left;
	padding : 3px;
	border : 1px solid #DAE6FF;
	cursor : pointer;
	padding-right : 15px;
	position : relative;
	background-image : linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	margin : 4px;
	padding : 7px;
	width : 210px;
}
.iconClass{
	width : 16px;
	height : 16px;
}
.nav-panel .active{
	background-color : #EDEDED;
	border : 1px solid #EDEDED;
}
.sort-placeholder{
	border: 1px dashed #808080;
    height: 15px;
    margin-right: 15px;
    padding: 0;
    width: 120px;
}
.requiredFlag{
	position : relative;
	left : 3px;
	top : 3px;
	color : red;
}