@CHARSET "UTF-8";

.nav-grid{
	width : 100%;
	border : 1px solid #dae6ff;
	padding : 5px;
	min-height : 50px;
	position : relative;
	padding-left:70px;
}
.nav-grid>span{
	position : absolute;
	left : 10px;
}

.hide{
	display : none;
}

#nav{
	width : 50%;
}
.connectedSortable li{
	float : left;
}
.nav-panel{
	float : left;
	width : 100%;
	min-height : 20px;
}
a.panel-content{
	float : left;
	padding : 3px;
	padding-right : 15px;
	position : relative;
	margin : 4px;
	padding : 7px;
	width : 210px;
	text-align : left;
	white-space:normal;
}
.panel-content>button{
	padding:2px 4px;
	white-space:normal;
}
.iconClass{
	width : 16px;
	height : 16px;
}
.nav-panel .active{
	background-color : #EDEDED;
	border : 1px solid #EDEDED;
}
.nav-panel .sort-placeholder{
	border: 1px dashed #808080;
    height: 32px;
    margin-right : 10px;
    width: 205px;
}
.requiredFlag{
	position : relative;
	left : 3px;
	top : 3px;
	color : red;
}
#nav{
	width:735px;
	margin-left:auto;
	margin-right:auto;
	height : 100%;
	margin-top : 50px;
}
.mr5{
	margin-right : 5px;
}  
.cb{
	clear : both;
}
.nav-grid>a{
	margin-right : 10px;
}

.view .deleteUrl{
	display : none;
}
.view #addUrl{
	display : none;
}
.view #addUrlType{
	display : none;
}
.cursor-pointer{
	cursor:pointer;
}