@CHARSET "UTF-8";
.style-button {
	color:#555;
	text-align:center;
}
.style-button .nav{
	margin:0px;
}
.style-button .nav li{
	float:left;
	margin:0px 26px;
}
.style-button .nav li p{
	float:none;
}
.container>.nav-tabs {
	border: none;
}
.main .container .nav{
	margin-bottom : 0;
	background-color:#EEEEEE;
	border:0 none;
	border-radius:5px 5px 0 0;
}
.tabContent a{
    color : white;
}
.tabContent{
	background-image:#BEBEBE;
	height:500px;
	overflow:auto;
	border:1px solid #EEEEEE;
	border-top:0 none;
	border-radius:0 0 5px 5px;
}
.main .container{
	background-color:#BEBEBE;
	border-radius:5px;
}
.liWeblink{
	float:left;position:relative;margin:10px;width:245px;
}
.liWeblink .deleteWeblink{
	line-height: 10px;
    position: absolute;
    right: 3px;
    top: 0;
    cursor : pointer;
}
.deleteWeblinkType{
	top:-3px;right:7px;position:absolute;
	cursor:pointer;
}
.linkTitle{
	padding:5px;background-image:-moz-linear-gradient(center bottom , #EEEEEE 0%, #FFFFFF 50%);
	border-radius:5px 5px 0 0;
}
.linkTitle a{
	color:grey;font-size:14px;
}
.linkContent{
	height:85px;background-color:white;border-top:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;
}
.linkBottom{
	padding:15px;background-color:#EEEEEE;border-radius:0 0 5px 5px;
}
.nav-tabs > li > a{
	border-radius:0;
}
body{
	overflow:hidden;
}
.main{
	padding:60px 0 0 0;
}
.container{
	width:100%;
}