<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.RssMapperDao">
  <resultMap id="rss" type="Rss">
    <result property="rssId" column="rssId"/>
    <result property="rssTitle" column="rssTitle"/>
    <result property="rssUrl" column="rssUrl"/>
    <result property="rssIcon" column="rssIcon"/>
  </resultMap>
  <select id="selectRss" resultType="java.util.Map" resultMap="rss">select * from rss where rssId = #{rssId}</select>
  <select id="selectListRss" resultType="java.util.List" resultMap="rss">select * from rss where 1 = 1 
    <if test="condition != null">and ${condition}</if>  
    <if test="rssId != null">and rssId = #{rssId}</if>  
    <if test="rssTitle != null">and rssTitle = '#{rssTitle}'</if>  
    <if test="rssUrl != null">and rssUrl = '#{rssUrl}'</if>  
    <if test="rssIcon != null">and rssIcon = '#{rssIcon}'</if>  
    <if test="startPage != -1">limit #{startPage},#{page}</if> 
  </select>
  <select id="selectCountRss" resultType="java.lang.Integer">select count(rssId) from rss where 1 = 1 
    <if test="condition != null">and ${condition}</if>  
    <if test="rssId != null">and rssId = #{rssId}</if>  
    <if test="rssTitle != null">and rssTitle = '#{rssTitle}'</if>  
    <if test="rssUrl != null">and rssUrl = '#{rssUrl}'</if>  
    <if test="rssIcon != null">and rssIcon = '#{rssIcon}'</if> 
  </select>
  <insert id="insertRss" parameterType="Rss">insert into rss ( rssId,rssTitle,rssUrl,rssIcon ) values ( #{rssId},#{rssTitle},#{rssUrl},#{rssIcon} )</insert>
  <update id="updateRss" parameterType="Rss">update rss set 
    <if test="columnname != null">rssId = #{rssId},</if>
    <if test="columnname != null">rssTitle = #{rssTitle},</if>
    <if test="columnname != null">rssUrl = #{rssUrl},</if>
    <if test="columnname != null">rssIcon = #{rssIcon},</if> rssId = #{rssId} where rssId = #{rssId}
  </update>
  <delete id="deleteByIdsRss" parameterType="Rss">delete from rss where rssId in (#{ids})</delete>
  <select id="maxIdRss" resultType="java.lang.Integer">select max(rssId) from rss</select>
</mapper>
