<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.BgKeywordMapperDao">

	<resultMap id="bgKeyword" type="BgKeyword">
		
		<result property="bgKeywordId" column="bgKeywordId" />
		
		<result property="name" column="name" />
		
		<result property="bgUserId" column="bgUserId" />
		
	</resultMap>

	<select id="selectBgKeyword" resultType="java.util.Map" resultMap="bgKeyword">
		select * from bg_article where bgKeywordId = #{bgKeywordId}
	</select>
	
	<select id="selectListBgKeyword"  resultType="java.util.List" resultMap="bgKeyword">
		select * from bg_keyword where 1 = 1  <if test="bgKeywordId != null"> and bgKeywordId = #{bgKeywordId}</if>  <if test="name != null"> and name = '#{name}'</if>  <if test="bgUserId != null"> and bgUserId = #{bgUserId}</if>  limit #{startPage},#{page}
	</select>
	
	<select id="selectCountBgKeyword"  resultType="java.lang.Integer" >
		select count(bgKeywordId) from bg_keyword where 1 = 1  <if test="bgKeywordId != null"> and bgKeywordId = #{bgKeywordId}</if>  <if test="name != null"> and name = '#{name}'</if>  <if test="bgUserId != null"> and bgUserId = #{bgUserId}</if>  
	</select>
	
	<insert id="insertBgKeyword" parameterType="BgKeyword">
		insert into bg_keyword (bgKeywordId,name,bgUserId) values (#{bgKeywordId},#{name},#{bgUserId})
	</insert>
	
	<update id="updateBgKeyword" parameterType="BgKeyword">
		update bg_keyword set   <if test="bgKeywordId != null">bgKeywordId = #{bgKeywordId},</if>  <if test="name != null">name = #{name},</if>  <if test="bgUserId != null">bgUserId = #{bgUserId},</if>bgKeywordId = #{bgKeywordId} where bgKeywordId = #{bgKeywordId}
	</update>
	
	<delete id="deleteIdsBgKeyword" parameterType="BgKeyword">
		delete from bg_keyword where bgKeywordId} in (#{ids})
	</delete>

	<select id="maxIdBgKeyword" resultType="int">
		select max(bgKeywordId) from bg_keyword		
	</select>
	
	<select id="selectByKeyword" resultType="int" parameterType="BgKeyword">
		select bgKeywordId from bg_keyword where name = #{name} and bgUserId = #{bgUserId}		
	</select>
	
	<select id="selectGroupKeywords" resultType="String" parameterType="BgKeyword" >
		select group_concat(name) from bg_keyword where bgKeywordId in (${ids})
	</select>
	
	<select id="selectAllKeyword" resultType="java.util.List" resultMap="bgKeyword">
		select * from bg_keyword where bgUserId = #{bgUserId}	
	</select>
	
</mapper>