<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.BlogMapperDao">
  <resultMap id="blog" type="Blog">
    <result property="blogId" column="blogId"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="createDate" column="createDate"/>
    <result property="hit" column="hit"/>
    <result property="userId" column="userId"/>
    <result property="shortContent" column="shortContent"/>
    <result property="commentnum" column="commentnum"/>
    <result property="blogType" column="blogType"/>
    <result property="keywords" column="keywords"/>
  </resultMap>
  <select id="selectBlog" resultType="java.util.Map" resultMap="blog">select * from blog where blogId = #{blogId}</select>
  <select id="selectListBlog" resultType="java.util.List" resultMap="blog">select * from blog where 1 = 1 
    <if test="blogId != null">and blogId = #{blogId}</if>  
    <if test="title != null">and title = '#{title}'</if>  
    <if test="content != null">and content = '#{content}'</if>  
    <if test="createDate != null">and createDate = '#{createDate}'</if>  
    <if test="hit != null">and hit = #{hit}</if>  
    <if test="userId != null">and userId = #{userId}</if>  
    <if test="shortContent != null">and shortContent = '#{shortContent}'</if>  
    <if test="commentnum != null">and commentnum = #{commentnum}</if>  
    <if test="blogType != null">and blogType = #{blogType}</if>  
    <if test="keywords != null">and keywords = '#{keywords}'</if> order by createDate desc 
    <if test="startPage != -1"> limit #{startPage},#{page}</if> 
  </select>
  <select id="selectCountBlog" resultType="java.lang.Integer">select count(blogId) from blog where 1 = 1 
    <if test="blogId != null">and blogId = #{blogId}</if>  
    <if test="title != null">and title = '#{title}'</if>  
    <if test="content != null">and content = '#{content}'</if>  
    <if test="createDate != null">and createDate = '#{createDate}'</if>  
    <if test="hit != null">and hit = #{hit}</if>  
    <if test="userId != null">and userId = #{userId}</if>  
    <if test="shortContent != null">and shortContent = '#{shortContent}'</if>  
    <if test="commentnum != null">and commentnum = #{commentnum}</if>  
    <if test="blogType != null">and blogType = #{blogType}</if>  
    <if test="keywords != null">and keywords = '#{keywords}'</if> 
  </select>
  <insert id="insertBlog" parameterType="Blog">insert into blog (blogId,title,content,createDate,hit,userId,shortContent,commentnum,blogType,keywords) values (#{blogId},#{title},#{content},#{createDate},#{hit},#{userId},#{shortContent},#{commentnum},#{blogType},#{keywords})</insert>
  <update id="updateBlog" parameterType="Blog">update blog set 
    <if test="blogId != null">blogId = #{blogId},</if>  
    <if test="title != null">title = #{title},</if>  
    <if test="content != null">content = #{content},</if>  
    <if test="createDate != null">createDate = #{createDate},</if>  
    <if test="hit != null">hit = #{hit},</if>  
    <if test="userId != null">userId = #{userId},</if>  
    <if test="shortContent != null">shortContent = #{shortContent},</if>  
    <if test="commentnum != null">commentnum = #{commentnum},</if>  
    <if test="blogType != null">blogType = #{blogType},</if>  
    <if test="keywords != null">keywords = #{keywords},</if>blogId = #{blogId} where blogId = #{blogId}
  </update>
  <delete id="deleteByIdsBlog" parameterType="Blog">delete from blog where blogId in (#{ids})</delete>
  <delete id="deleteBlog" parameterType="Blog">delete from blog where blogId = #{ids}</delete>
  <select id="maxIdBlog" resultType="java.lang.Integer">select max(blogId) from blog</select>
  <select id="returnTitleListEntity" resultType="java.util.List" resultMap="blog">select blogId,title,shortContent,createDate from blog where 1 = 1 
    <if test="userId != 0">and userId = #{userId}</if> order by blogId desc limit #{startPage},#{page}
  </select>
  <select id="selectBlogYear" resultType="java.util.HashMap" parameterType="Blog">select date_format(createDate,'%Y') as yearDate,count(*) as count from blog where userId = #{userId} group by yearDate desc</select>
  <select id="selectBlogMonth" resultType="java.util.HashMap" parameterType="Blog">select date_format(createDate,'%m') as monthDate,count(*) as count from blog where userId = #{userId} 
    <if test="condition != null">and ${condition}</if> group by monthDate asc
  </select>
  <select id="selectBlogDay" resultType="java.util.HashMap" parameterType="Blog">select date_format(createDate,'%d') as dayDate,count(*) as count from blog where userId = #{userId} 
    <if test="condition != null">and ${condition}</if> group by dayDate asc
  </select>
</mapper>
