<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.TagMapperDao">
  <resultMap id="tag" type="Tag">
    <result property="tagId" column="tagId"/>
    <result property="tagName" column="tagName"/>
    <result property="userId" column="userId"/>
  </resultMap>
  <select id="selectTag" resultType="java.util.Map" resultMap="tag">select * from tag where tagId = #{tagId}</select>
  <select id="selectListTag" resultType="java.util.List" resultMap="tag">select * from tag where 1 = 1 
    <if test="{condition != null}">and ${condition}</if>  
    <if test="tagId != null">and tagId = #{tagId}</if>  
    <if test="tagName != null">and tagName = '#{tagName}'</if>  
    <if test="userId != null">and userId = #{userId}</if> 
    <if test="startPage != -1"> limit #{startPage},#{page}</if> 
  </select>
  <select id="selectCountTag" resultType="java.lang.Integer">select count(tagId) from tag where 1 = 1 
    <if test="{condition != null}">and ${condition}</if>  
    <if test="tagId != null">and tagId = #{tagId}</if>  
    <if test="tagName != null">and tagName = '#{tagName}'</if>  
    <if test="userId != null">and userId = #{userId}</if> 
  </select>
  <insert id="insertTag" parameterType="Tag">insert into tag (tagId,tagName,userId) values (#{tagId},#{tagName},#{userId})</insert>
  <update id="updateTag" parameterType="Tag">update tag set 
    <if test="tagId != null">tagId = #{tagId},</if>  
    <if test="tagName != null">tagName = #{tagName},</if>  
    <if test="userId != null">userId = #{userId},</if>tagId = #{tagId} where tagId = #{tagId}
  </update>
  <delete id="deleteByIdsTag" parameterType="Tag">delete from tag where tagId in (#{ids})</delete>
  <delete id="deleteTag" parameterType="Tag">delete from tag where tagId = #{ids}</delete>
  <select id="maxIdTag" resultType="java.util.Map" resultMap="tag">select max(tagId) from tag</select>
</mapper>
